{% extends 'base.html.twig' %}

{% block title %}Image Uploader{% endblock %}

{% block body %}
    <h1 class="display-4">Image Uploader</h1>
        {{ render(controller('App\\Controller\\ImageController::new')) }}
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Filename</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for image in images %}
            <tr>
                <td>{{ image.id }}</td>
                <td>{{ image.title }}</td>
                <td>{{ image.filename }}</td>
                <td>
                    <a href="{{ path('image_show', {'id': image.id}) }}">show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation">
        {{ knp_pagination_render(images, '@KnpPaginator/Pagination/twitter_bootstrap_v4_pagination.html.twig') }}
    </div>
{% endblock %}
